/* body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
} */

.rank-table {
    width: 90vw;
    border-collapse: collapse;
    /* box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); */
    /* background-color: #1e1e1e; */
    color: white;
    font-weight: 200;
}

.rank-table th, .rank-table td {
    padding: 12px 20px;
    height: 60px;
    text-align: left;
}

.rank-table th {
    /* background-color: #333333; */
    color: #ffffff;
    font-weight: bold;
}

.rank-table tr:hover {
    background-color: #444444;
}

.rank-table th, .rank-table td {
    border-bottom: 1px solid #444444;
}

.rank-table th:first-child, .rank-table td:first-child {
    border-left: none;
}

.rank-table th:last-child, .rank-table td:last-child {
    border-right: none;
}