{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="no-scroll">
    <div class="main-page">
        <div class="intro-container">
            <div class="cont1">
                <h1 id="uzbeksposure">Uzbexposure</h1>
                <div class="col-12" style="height: 300px;">
                    <h2 id="explore" class="hidden">
                        Discover the Wonders of Uzbek <span style="font-weight: 200; margin-left: 3px;" id="dynamic-word"> Heritage </span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row bg-dark">
            {% for i in four %}
            <div class="main-image col-3" style="height: 100vh; background-size: cover; background-position: center;" data-bg-url="{{ i.url }}"></div>
            {% endfor %}
        </div>

        <div class="container" id="loadingAnimation">
            <div class="row">
                <div class="col-12 text-contain">
                    <h2 class="describe">
                        <span>Uzbexposure</span> is an immersive digital platform dedicated to showcasing the vibrant cultural heritage of Uzbekistan. Our mission is to bring the rich history, captivating art, and stunning landscapes of Uzbekistan to the world through an engaging and visually compelling online experience.
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row infinite-container grid" id="newsss">
                {% for i in images %}
                <div class="col-12 col-xs-12 col-sm-6 col-lg-4 col-xl-4 mb-4 grid-item post">
                    <div class="card" style="background-color: transparent; position: relative; min-height: 200px; overflow: hidden;">
                        <img src="{{ i.url }}" alt="News Image">
                        {% if i.description %}
                        <p style="background-color: transparent; color: white;">{{ i.description }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% if images.has_next %}
                <div class="pagination">
                    <a class="next" href="?page={{ images.next_page_number }}"></a>
                </div>
                {% endif %}
            </div>
        </div>

        {% if images.has_next %}
        <div class="row d-flex justify-content-center">
            <div class="col-12 load d-flex justify-content-center mt-5 mb-5">
                <div class="loader"></div>
            </div>
        </div>
        {% else %}
        <div class="mainCss">
            <div>
                <h6>End of the stream</h6>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-item',
            percentPosition: true
        });

        var infScroll = new InfiniteScroll('.grid', {
            path: '.next',
            append: '.grid-item',
            outlayer: msnry,
            history: false,
            status: ".load"
        });

        infScroll.on('append', function() {
            msnry.layout();
        });

        infScroll.on('load', function() {
            msnry.layout();
        });
    });
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(() => {
            document.querySelector('.navbar').classList.remove('hidden');
        }, 2000); // Show navbar when 'Uzbexposure' starts moving up
    });
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const words = [" Heritage", " Culture", " History", " Art", " Architecture", 'Life', 'Traditions'];
        const dynamicWord = document.getElementById('dynamic-word');
        let index = 0;

        function changeWord() {
            dynamicWord.classList.remove('fade-in', 'fade-out');
            dynamicWord.classList.add('fade-out');

            setTimeout(() => {
                dynamicWord.textContent = words[index];
                dynamicWord.classList.remove('fade-out');
                dynamicWord.classList.add('fade-in');
            }, 1000); // Time for fade-out effect

            index = (index + 1) % words.length;
        }

        setInterval(changeWord, 2000); // Change every 2 seconds
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const images = document.querySelectorAll('.main-image');

    images.forEach((image) => {
        const imgUrl = image.getAttribute('data-bg-url');
        const img = new Image();
        img.src = imgUrl;

        img.onload = function() {
            image.style.backgroundImage = `url('${imgUrl}')`;
            image.classList.add('loaded'); // Add class to remove blur when loaded
        };
    });
});
    </script>
{% endblock %}